@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700,800");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  color: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 112.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
}

.header__container {
  padding: 0.625rem;
}

.header__text {
  font-size: 1.125rem;
  text-align: center;
}

.header__text span.pink {
  color: #f74fbf;
  font-weight: 700;
}

.header__text span.bold {
  font-weight: 700;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main-block {
  min-height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f74fbf;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 2.5rem;
}

.main-block__title {
  font-size: 3.75rem;
  font-weight: 600;
}

.main-block__title span {
  font-size: 6.25rem;
}

.main-block__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
  grid-template-columns: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-block__text {
  padding: 0.625rem;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-size: 1.875rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.main-block__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.main-block__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  margin-right: 1.25rem;
}

.main-block__input {
  font-size: 1.875rem;
  padding: 0.9375rem 1.875rem;
  background-color: #fff;
  border-radius: 3.125rem;
}

.main-block__input::-webkit-input-placeholder {
  color: #8d37af;
}

.main-block__input::-moz-placeholder {
  color: #8d37af;
}

.main-block__input:-ms-input-placeholder {
  color: #8d37af;
}

.main-block__input::-ms-input-placeholder {
  color: #8d37af;
}

.main-block__input::placeholder {
  color: #8d37af;
}

.main-block__button {
  font-weight: 700;
  font-size: 1.875rem;
  padding: 0.625rem 1.25rem;
  background-color: #5f2079;
  border-radius: 3.125rem;
  border: 0.625rem solid #fff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (any-hover: hover) {
  .main-block__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}